body
{
	font-size: 16px;
	background-color: bisque;
	font-family: verdana, sans-serif;
}

/********** HEADER **********/
#header-nav
{
	background-color:coral;
	border-radius: 0;
	border: 0;
}
#logo-img
{
	background: url("../images/logo.gif") no-repeat;
	width: 220px;
	height: 71px;
	margin: 30px 15px 1px 20px;
	
}
#collapsable-nav
{
	margin-bottom: -8px;
}
#nav-list {
  margin-top:0px;
}
#nav-list a {
  color: brown;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #61122f;
}
#nav-list li
{
	border-bottom: 1px solid black;
}
#nav-list li:nth-child(1)
{
	margin-top: -1px;
}
button
{
	height: 60px;
	width: 60px;
}
.navbar-header .icon-bar
{
	width: 40px;
	margin-bottom: 10px;
	text-align: center;
}
.navbar-header .icon-bar:nth-child(4)
{
		margin-bottom: 0px;
}
/********** END HEADER **********/

/**********MAIN CONTENT **********/
#our
{
	text-align: center;
}
.desc
{
	background-color: cornsilk;
}
.desc h3
{
	text-align: center;
}
.desc p
{
	text-align: justify;
	font-size: .8em;
	margin-left: 10px;
	margin-right: 10px;
}

/********** END MAIN CONTENT **********/

/********** MEDIA QUERIES **********/

/********* Large devices **********/

/********** Medium devices **********/


/********** END MEDIA QUERIES **********/
